<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7dRM_zyEynrNH0i0uIy-F2wXDkC_A1kI</string>
	<key>GCM_SENDER_ID</key>
	<string>706417460299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskdo</string>
	<key>PROJECT_ID</key>
	<string>taskdo-dbf91</string>
	<key>STORAGE_BUCKET</key>
	<string>taskdo-dbf91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706417460299:ios:1d15b63cf5a5e5be75b9ce</string>
</dict>
</plist>